<div class="website-info">
	<!--<span>Copyright &copy;2013-<%- date(new Date, "YYYY")%> <small><a href="http://www.miitbeian.gov.cn/" about="_blank">湘ICP备14007107号-1</a></small></span>-->
	<a href="<%- url_for('about') %>#contact">联系方式</a>
</div>